body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.logo {
  width: 18.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  display: block;
  background: #fff;
  padding: 0.938rem 1.875rem;
  border-radius: 0.375rem;
  color: #000;
  font-weight: bolder;
  text-transform: uppercase;
}

.menu a:hover {
  background: #ea2230;
  color: #fff;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background: #ea2230;
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.botao {
  background: #ea2230;
  color: #fff;
  padding: 0.938rem 1.875rem;
  border-radius: 0.375rem;
  text-transform: uppercase;
}

.botao:hover {
  background: #000;
  font-weight: bolder;
  color: #ea2230;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background: url(../img/onda.svg);
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 0.25rem solid #fff;
}

.vantagens-item p {
  grid-column: 2;
}

.vantagens-item i {
  color: #ea2230;
}

.vantagens-item:hover {
  border-left: 0.25rem solid #ea2230;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

footer {
  background: #fff;
  text-align: center;
  padding: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 62.5rem) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 37.5rem) {
  body {
    gap: 1.875rem;
    margin-top: 1.25rem;
  }
  .header {
    gap: 1.875rem;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::before {
    display: none;
  }
  .subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 25rem) {
  .subtitulo {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
